<app-header Titulo="Date Time"></app-header>
<ion-content>

    <ion-list>
        <ion-list-header>
            <ion-label>Datos de nacimiento</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Fecha de Nacimiento</ion-label>
            <ion-datetime 
            placeholder="Nacimiento"            
            display-format="YYYY MM DD"
            cancelText="Cancelame!!"
            [ngModel]="fechaNaci.toISOString()"
            (ionChange)="cambioFecha($event)"
            ></ion-datetime>
        </ion-item>

        <ion-list-header>
            <ion-label>Restricciones</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Max y Min</ion-label>
            <ion-datetime
            month-names="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre"
            placeholder="yyyy-mm-dd" display-format="YYYY MMMM DD" min="2020-01-01" max="2020-12-31"></ion-datetime
                >
        </ion-item>
        <ion-item>
            <ion-label>Años</ion-label>
            <ion-datetime placeholder="YYYY" 
                          display-format="YYYY" 
                          min="2015" max="2025" 
                          value="2021"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Picker Options</ion-label>
            <ion-datetime [pickerOptions]="custonPikerOpstions"
                          [(ngModel)]="custonDate"></ion-datetime>
        </ion-item>
    </ion-list>
</ion-content>
