<app-header Titulo="Grid y Row"></app-header>

<ion-content fullscreen>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">{{i +1}}</ion-col>      
    </ion-row>
  </ion-grid> -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur animi enim repudiandae nobis voluptate esse eum illum perspiciatis, sapiente, deleniti minus. Corporis maiores laudantium officiis libero tenetur! Temporibus, soluta consequuntur.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
