<app-header Titulo="Reorder"></app-header>
<ion-content>
<ion-list>

    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        
        <ion-item *ngFor="let item of personajes">
            <ion-label>{{item}}</ion-label>            
                <ion-reorder slot="end"></ion-reorder>            
        </ion-item>
    </ion-reorder-group>
</ion-list>
<ion-button expand="full" color="medium" (click)="desbloquear()">
    bloquear
</ion-button>
</ion-content>
