<ion-header no-border translucet>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{Titulo | uppercase}}</ion-title>
    <ion-buttons slot="end">
     <ion-avatar>
       <img src="../../../assets/img/stan-lee.jpg" alt="">
     </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>