<app-header Titulo="Botones"></app-header>

<ion-content>
  <!-- botones normales -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <!-- Archor -->

  <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary">
    Anchor
  </ion-button>

  <!-- ion-grid + ion-row -->
  <ion-row class="top-20">
    <ion-col>
      <ion-button class="top-20" expand="full" routerLink="/avatar" color="tertiary">
        Anchor
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="top-20" expand="full" routerLink="/action-sheet" color="tertiary">
        Anchor
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- fill -->
<ion-button class="top-20" fill="clear">Clear</ion-button>
<ion-button  fill="default">default</ion-button>
<ion-button  fill="outline">outline</ion-button>
<ion-button  fill="solid">solid</ion-button>
<ion-button  fill="undefined">undefined</ion-button>




</ion-content>