<app-header Titulo="Segment"></app-header>

<ion-toolbar>
  <ion-segment #segmento (ionChange)="segmentChanged($event)" color="tertiary" >

    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of listaHeeroes | filtro:compania:'publisher'">
      <ion-label>
        <h3>{{item.superhero}} <small>{{item.alter_ego}} </small> </h3>
        <p>{{item.first_appearance}}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">{{item.publisher}}</ion-label>
    </ion-item>
  </ion-list>
<ion-list *ngIf="listaHeeroes === null">
  <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]" class="animated flash slow infinit">
    <ion-label>
      <h3>
        <ion-skeleton-text width="70%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text width="100%"></ion-skeleton-text>
      </p>
    </ion-label>
    <ion-label slot="end" class="ion-text-end">
      <ion-skeleton-text width="40px"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>

  
</ion-content>
