<app-header Titulo="Refresh"></app-header>

<!-- Custom Refresher Content -->
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <h1 *ngIf="items.length === 0">pull to refresh</h1>
    <ion-list *ngIf="items.length !== 0" class="animated fadeIn fast">
        <ion-item *ngFor="let item of items; let i=index">
            <ion-label>item {{i+1}}</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>