<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toogleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
     
        <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
     
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  no-border>
  <ion-list>
    <ion-item class="hoveres" *ngFor="let item of componentes | async"  [routerLink]="item.redirecTo" detail>
      <ion-icon slot="start" [name]="item.icon" color="primary"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
