<app-header [Titulo] = "titulo"></app-header>

<ion-content  no-border>
    <ion-button (click)="presentAlert1()" expand=full color="primary">Mostrar Alert</ion-button>
    <ion-button (click)="presentAlertPrompt2()" expand=full color="secondary">Mostrar Alert</ion-button>

</ion-content>
