<app-header Titulo="Infinite"></app-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data; let i=index">
      <ion-label>{{i+1}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="150px" id="infinite-scroll"
                      (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loading-spinner="crescent"
      loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
