<app-header Titulo="checkbox"></app-header>
<ion-content>
<ion-list>
  <ion-item *ngFor="let item of data" (click)="onClick(item)">
    <ion-label>{{item.name}}</ion-label>
    <ion-checkbox [(ngModel)]="item.select" [color]="item.name"></ion-checkbox >
  </ion-item>
</ion-list>
</ion-content>
