<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar animated placeholder="Search" inputmode="email" type="decimal" (ionChange)="onSearchChange($event)"
    [debounce]="250"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of albunes | filtro:textoBuscar:'title'">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>