<app-header Titulo="Avatar"></app-header>

<ion-content padding>
    <ion-chip color="primary" *ngFor="let item of [1,1,1,1,1,1]">
        <ion-avatar>
            <img src="../../../assets/img/stan-lee.jpg" alt="">
        </ion-avatar>
        <ion-label>Stan Lee</ion-label>
    </ion-chip>
    <ion-list>
        <ion-item *ngFor="let item of [1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="../../../assets/img/stan-lee.jpg" alt="">
            </ion-avatar>
            <ion-label>Stan Lee</ion-label>
        </ion-item>
    </ion-list>
</ion-content>