<!-- cabeza -->
<ion-header no-border>
  <ion-toolbar color="primary">    
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons>   
    <ion-title>popover</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="mostratPopover($event)">
        <ion-icon slot="icon-only" name="contact">
     
        </ion-icon>
      </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- cuerpo -->
<ion-content>
 <ion-button (click)="mostratPopover($event)" expand="full">
   <ion-icon slot="start" name="contact"></ion-icon>
  <ion-label>Popover</ion-label>
 </ion-button>
</ion-content>
<!-- footer -->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="mostratPopover($event)">
        <ion-icon slot="icon-only" name="contact">
     
        </ion-icon>
      </ion-button>
     </ion-buttons>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>