<app-header Titulo="Cards"></app-header>


<ion-content>
  <ion-card mode="ios" color="primary"> 
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="warning">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>
        Marcador
      </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, itaque, error perferendis voluptates sequi sed cupiditate eligendi aliquid eaque debitis nisi dicta fugit facere corrupti assumenda. Quos libero eaque eligendi?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="./../../../assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam exercitationem harum perspiciatis! Sequi placeat voluptas ratione veritatis saepe voluptate nemo accusantium, expedita alias? Nobis, neque. Dicta voluptas eum minus laboriosam?
    </ion-card-content>
  </ion-card>
</ion-content>
