<app-header Titulo="Input - Forms"></app-header>

<ion-content>
  <ion-list-header>
    <ion-label>Nombre {{nombre || 'Nom hay nombre'}}</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSunmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>Fomulario template: Valido {{formulario.valid}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="usuario.email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required ></ion-input>
      </ion-item>

    </ion-list>
    <!-- <ion-button></ion-button> -->
    <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
      Enviar
    </ion-button>
  </form>
</ion-content>