<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let item of componentes | async">
        <ion-item class="hoveres"  [routerLink]="item.redirecTo" detail>
          <ion-icon slot="start" color="warning" [name]="item.icon"></ion-icon>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
     
    </ion-list>
  </ion-content>
</ion-menu>