<app-header Titulo="Listas y Sliding"></app-header>

<ion-content>
   
        <ion-list #lista>
            <ion-item-sliding *ngFor="let item of datas | async">
                <ion-item >
                    <ion-label><h3>{{item.name}} <p>{{item.email}}</p></h3></ion-label>
                    <ion-label slot="end" class="text-right">{{item.phone}}</ion-label>
                </ion-item>

                <ion-item-options side="start">
                    <ion-item-option (click)="favorite(item)"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-item-option>
                    <ion-item-option color="facebook" (click)="share(item)"><ion-icon slot="icon-only" name="add"></ion-icon></ion-item-option>
                  </ion-item-options>
                  
                  <ion-item-options side="end">

                      <ion-item-option color="danger" (click)="borrar(item)"><ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                        
                    </ion-item-options>

            </ion-item-sliding>
        </ion-list>       
        
   
</ion-content>
