<app-header Titulo="ProgresBar"></app-header>
<ion-content class="mt-10">
  <ion-list>
    <ion-item>
      <ion-progress-bar [value]="porcentaje"></ion-progress-bar>
     
    </ion-item>

    <ion-item>
      <ion-range min="1" max="100" color="google" (ionChange)="changeRange($event)" pin="true" step="2">   
        <ion-label slot="start">1</ion-label>
      <ion-label slot="end">100</ion-label>     
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
