<ion-header>
  <ion-toolbar>
    <ion-title text-capitalize>{{ nombre }} -- {{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>{{phone}}</ion-label>
  <!-- {{phone}} -->
  <ion-button expand="full" color="secondary" (click)="salirSinArgumentos()" >Salir son argumentos</ion-button>
  <ion-button expand="full" color="google" (click)="salirConArgumentos()" >salir con argumentos</ion-button>
</ion-content>
